@import url(fields/index.css);

.main-container{
    display: flex;
    flex-direction: column;
    padding: 80px;
    background-color: var(--shape-body);  
}

fieldset{
    border: none;
    display: grid;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}


